<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Time!</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
		<script src="/assets/javascript/script.js"></script>
	</body>
</HTML>
